<%= form_with(model: tenant) do |form| %>
  <% if tenant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_area :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_area :last_name %>
  </div>

  <div>
    <%= form.label :email_address, style: "display: block" %>
    <%= form.text_area :email_address %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.number_field :phone_number %>
  </div>

  <div>
    <%= form.label :property_id, style: "display: block" %>
    <%= form.number_field :property_id %>
  </div>

  <div>
    <%= form.label :tenancy_id, style: "display: block" %>
    <%= form.number_field :tenancy_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
