<div id="<%= dom_id tenancy %>">

  <p>
    <strong>Agreement Name:</strong>
    <%= tenancy.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tenancy.start_date.strftime '%B %e, %Y' unless tenancy.start_date.nil? %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tenancy.end_date.strftime '%B %e, %Y' unless tenancy.end_date.nil? %>
  </p>

  <p>
    <strong>Contractual basis:</strong>
    <%= tenancy.contractual_basis %>
  </p>

  <p>
    <strong>Has pets:</strong>
    <%= tenancy.has_pets %>
  </p>

  <p>
    <strong>Bond amount:</strong>
    $<%= tenancy.bond_amount %>
  </p>

  <p>
    <strong>Pays water:</strong>
    <%= tenancy.pays_water %>
  </p>

  <p>
    <strong>Pays gas:</strong>
    <%= tenancy.pays_gas %>
  </p>

  <p>
    <strong>Pays electricity:</strong>
    <%= tenancy.pays_electricity %>
  </p>

  <p>
    <strong>Weekly rent:</strong>
    <%= tenancy.weekly_rent %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <% tenancy.tenants.each do |t| %>
    <%= t.first_name %>
    <% end %>
  </p>

</div>
