
<div id="<%= dom_id property %>">

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= property.street_address %>
  </p>

  <p>
    <strong>Suburb</strong>
    <%= property.suburb %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= property.postcode %>
  </p>

  <p>
    <strong>State:</strong>
    <%= property.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <p>
    <strong>Lot size:</strong>
    <%= property.lot_size %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= property.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Carspaces:</strong>
    <%= property.carspaces %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= property.image %>
  </p>

</div>

<!--
<div id="<%= dom_id property %>">

<div class="card" style="width: 25rem;">
  <img src="https://i2.au.reastatic.net/800x600-format=webp/0f132aafb31391f5bd06ac72fcc454b6580557bc7d73d4f9628e96d442e8ff9f/main.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= property.street_address %></h5>
    <p class="card-text"><%= property.state %>, <%= property.postcode %>.</p>
    <%= link_to "" %>
    <%= link_to "Show this property", property, class: "btn btn-primary" %>
    <a href="#" class="btn btn-primary">More Details</a>
  </div>
</div>

</div>
-->