<p style="color: green"><%= notice %></p> <!-- Change notice to Bootstrap-->

<h1>
  <%= @property.street_address %>
</h1>

<%= render @property %>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/streetview?key=<%=ENV["MAPS_API_KEY"]%>&location=<%=@property.latitude%>,<%=@property.longitude%>&heading=210&pitch=10&fov=35">
</iframe>

<div>
  <%= link_to "Edit this property", edit_property_path(@property), class:"btn btn-secondary" %>
  <%= link_to "Back to properties", properties_path, class:"btn btn-secondary" %>

  <%= button_to "Delete", @property, method: :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-outline-danger" %>
</div>
